<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Matt Salamon Resume">
    <meta name="author" content="Matt Salamon">
    <link rel="shortcut icon" href="assets/favicon.png">

    <title>Matt Salamon Resume</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/main.css" rel="stylesheet"> 
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
	<%#<link rel="stylesheet" href="assets/font-awesome.min.css"> %>
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/jquery.min.js"></script>
    <script type="text/javascript" src="assets/smoothscroll.js"></script> 
    <script src="assets/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">
   <section id="top" name="top"></section>
	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#top" title="Top"><i class="icon-bullhorn"></i></a></li>

							<li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
							
							<li class="menu-item"><a class="smoothScroll" href="#awards" title="Awards"><i class="icon-certificate"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#skills" title="Skills"><i class="icon-lightbulb"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>

							<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>



						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Matt Salamon</h1>
					<h3>Web Applications | Technical Solutions</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
		<br>
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
				

					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
				
					<p>I'm a passionate technical analyst with a dream to swim in web application programming and development. I have over 15 years professional experience solving technical problems, but my real drive is to develop high quality web applications. I also like to play with Android application development, powershell scripting, enterprise networking, systems administration, telephony, and building customer relationships.</p>
				</div>
				<div class="col-lg-3">
				
					<p><a href="assets/MattSalamonResTechnicalSupp.docx"><i class="icon-file"></i></a> <sm>RESUME</sm></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
	<br><br>
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Master of Science - Computer Science</t><br/>
						Kaplan University <br/>
						<i>GPA 4.0</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>MAY 2011</sm><br/>
			<!--		<imp><sm>IN PROGRESS</sm></imp>
					</p>
			-->		
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Bachelor of Music</t><br/>
						Oberlin College <br/>
						<i>GPA 3.6</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>JUNE 1995</sm></p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	

	<!--WORK DESCRIPTION -->
	<div class="container desc">
	<br><br>
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>WORK</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Technical Support Analyst</t><br/>
						Kaplan Inc. <br/>
					</p>
					<p><more>Responsible for analytical issue resolution support for internal customers, business representatives, executives, and technical support teams including Networking, Web Application Services, Account Provisioning, and Data Center Services Teams. Develop internal intranet applications for Technical Support Teams. Troubleshoot networking and systems administration issues including application patches, configuration, severity 1 outages, enterprise wide operating system imaging, group policy and active directory support. </more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>JANUARY 2009 - CURRENT</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Technical Director</t><br/>
						Meritas Ltd. <br/>
					</p>
					<p><more>Managed I.T. distributed systems infrastructure for three Meritas Inc. owned private schools in the Central Florida area. Responsible for development and maintenance of websites for each school. Migrated to wordpress platform and redesigned entire site.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>JANUARY 2000 - January 2009</sm></p>
				</div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->

<section id="awards" name="awards"></section>
	<!--AWARDS DESCRIPTION -->
	<div class="container desc">
	<br><br>
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>AWARDS AND CERTIFICATIONS</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Kaplan Wave Award</t><br/>
						<img src= "assets/wave.png"/><br/><br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>AUGUST 2013</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Microsoft Certified Technical Specialist</t><br/>
						<img src= "assets/mcts.png"/><br/><br/>
					</p>
			<!--		<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</more></p>
			-->
				</div>
				<div class="col-lg-3">
					<p><sm>MAY 2011</sm></p>
				</div>
				
		
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>HP Platform Specialist</t><br/>
						<img src= "assets/hp.png"/><br/><br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>MAY 2009</sm></p>
				</div>
				
				
		
		</div><!--/.row -->
		<br>
	</div><!--/.container -->
	
	<section id="skills" name="skills"></section>
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
		<br><br>
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p>HTML5/CSS3/Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>MySQL/Postgres</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 40,
										color:"#1abc9c"
									},
									{
										value : 60,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="wordpress" height="130" width="130"></canvas>
						<p>Ruby on Rails</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 55,
										color:"#1abc9c"
									},
									{
										value : 45,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>JQuery/Javascript/Python</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 25,
										color:"#1abc9c"
									},
									{
										value : 75,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="photoshop" height="130" width="130"></canvas>
						<p>Photoshop/Flash/Gimp</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="illustrator" height="130" width="130"></canvas>
						<p>PHP/ASP.NET/JSP</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 35,
										color:"#1abc9c"
									},
									{
										value : 65,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
	<br><br>
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PORTFOLIO</h5>
				</div>
			
				<div class="col-lg-6 ">
					<p><img class="img-responsive" src="assets/salamonbeer.png" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>Beer Review!</p>
					<p><more>I developed this Ruby on Rails with Bootstrap-Saas web application - a live forum board for beer enthusiasts<br/><br/>
						<sm><i class="icon-tag"></i> web application development</sm></more> 
					</p>
				</div>

				<br>

				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="assets/techcomp.png" alt=""></p>
				</div>
				<div class="col-lg-3">
					<p>TechKnowledge Computers</p>
				<p><more>This project involved creating a commercial website for a local technology consulting company. Highlights include the use of animated sprites to dynamically display content.<br/><br/>
					<sm><i class="icon-tag"></i> front-end design</sm></more> 
				</p>
				</div>

				<br>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="assets/golf.png" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>Golf Caddy!</p>
					<p><more>This Android application serves as a an alternative to the little pencil and paper score keeping model. Keep track of your score as you play. Written in java using the Eclipse IDE and the Android SDK<br/><br/>
						<sm><i class="icon-tag"></i> android development</sm></more> 
					</p>
				</div>

				<br>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="assets/android.png" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>Mad Libs</p>
					<p><more>This Android application is a remake of the classic MadLibs game I wrote in java using the Eclipse IDE and the Android SDK<br/><br/>
						<sm><i class="icon-tag"></i> android development</sm></more> 
					</p>
				</div>
				
				
				
		
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
		<br><br>
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						matt.salamon@cfl.rr.com <br/>
					</p>
					<p><t>Address</t><br/>
						Orlando, FL <br/>
						32828<br/>
						USA <br/>
					</p>
					<p><t>Phone</t><br/>
						+407-208-3781 <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SOCIAL LINKS</sm></p>
					<p>
						<a href="http://msalamon.byethost13.com/"><i class="icon-user"></i></a>
						<a href="https://twitter.com/MattSalamon1"><i class="icon-twitter"></i></a>
						<a href="https://www.facebook.com/avalon.tutor"><i class="icon-facebook"></i></a>
						<a href="http://www.linkedin.com/in/mattsalamon/"><i class="icon-linkedin"></i></a>
						

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
			<p> Built in ubuntu linux by Matt Salamon using <a href="http://rubyonrails.org">RUBY ON RAILS</a></p>
			<h6> Bootstrap theme inspired by<a href="http://www.blacktie.co/">blacktie.co</a></h6>
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/bootstrap.js"></script>
  </body>
</html>